- provide :title, "About us"
%h3 About us
%p Kipscore to aplikacja umożliwiająca jednocześnie organizację turniejów oraz ich śledzenie. Została stworzona przede wszystkim dla organizatorów, ale również dla zawodników, oraz kibiców. Intuicyjność, łatwość obsługi, uniwersalność, wszechstronność to najmocniejsze cechy aplikacji. Wyobraź sobie, że to co do tej pory zajmowało Tobie wiele czasu i pracy, teraz stanie się łatwe i przyjemne!
  
%p 
  Nie chcemy poprzestawać na obecnej wersji! Dążymy do ulepszania aplikacji, aby stała się narzêdziem jak najdoskonalszym, odpowiadającym każdemu użytkownikowi. Jeżeli masz jakiekolwiek uwagi lub sugestie - nie wahaj się, podziel się nimi przy pomocy 
  = link_to "formularza kontaktowego", contact_path
  \.
