#home-container.row
  .span6
    #home-teaser.hero-unit
      %span.logo-hero
      %p
        Created to help you organize 
        %br 
        tournaments in the way you love to.
      =link_to 'Learn more', about_path, :class => 'btn btn-success btn-large'
  .span6
    #home-signup=render :partial => 'users/signup_form', :locals => { :signup_page => false }
