- provide :title, "Innovation"
%h3 Innovation
%p
  Kipscore, to aplikacja umożliwiająca śledzenie, przebiegu turniejów w trakcie ich trwania.
%p
  Wystarczy wybrać z listy rozgrywanych zawodów ten, który nas interesuje i na bieżąco obserwować rozgrywkę.
  Od teraz zawsze będziesz blisko swoich ulubionych sportowców.
