- provide :title, I18n.t("custom_translations.innovation", :default => "innovation").capitalize
%h2= I18n.t("custom_translations.innovation", :default => "innovation").capitalize
%p
  Kipscore, to aplikacja umożliwiająca śledzenie, przebiegu turniejów w trakcie ich trwania.
%p
  Wystarczy wybrać z listy rozgrywanych zawodów ten, który nas interesuje i na bieżąco obserwować rozgrywkę.
  Od teraz zawsze będziesz blisko swoich ulubionych sportowców.
