- provide :title, "Instruction"
%h2 Instruction
%p
  %ol
    %li Zarejestruj się, to nic nie kosztuje
    %li Klikając w przycisk "utwórz turniej", przejdź do panelu organizacyjnego,
    %li Nadaj nazwę swojemu turniejowi oraz ustal jego datę,
    %li Dodaj opis turnieju. Nasz edytor tekstowy nada mu przejrzystą, czytelną formę,
    %li Stwórz listę startową dodając zawodników. Aplikacja będzie podpowiadać Ci nazwiska na podstawie list rankingowych,
    %li Klikając w przycisk "start" rozpoczniesz  turniej. Program przeprowadzi losowanie graczy oraz utworzy drabinkę turniejową.
