- provide :title, I18n.t("custom_translations.observer", :default => "observer").capitalize

#home-container.row
  #content.span6
    - if Settings.beta_version && params[:controller] == 'static_pages'
      #beta-info
        = I18n.t('notifications.beta_version', :default => '').html_safe
    %h2= I18n.t("custom_translations.observer", :default => "observer").capitalize
    = I18n.t("static_pages.observer_content").html_safe
  .span6
    #home-signup= render 'users/signup_form',  :signup_page => false
