%meta{ "og:title" => @tournament.name }
%meta{ "og:url" => current_uri }
%meta{ "og:site_name" => "Kipscore" }
%meta{ "og:description" => truncate(@tournament.description, :length => 40, :separator => ' ') }
