.row-fluid
  .span12
    %ul.breadcrumb
      %li
        = link_to @tournament.name, @tournament
        %span.divider &gt;
      %li.active
        Bracket
      

.row-fluid
  #tournament-container.span12

:javascript
  Kipscore.bracketInitialize()
