- model_class = Tournament
- provide :title, "Edit tournament"


- unless request.xhr?
  .row
    .span12
      %ul.breadcrumb
        %li
          = link_to @tournament.name, tournament_path(@tournament)
          %span.divider &gt;
        %li.active Edit

.row
  .span7
    - unless request.xhr?
      .page-header
        %h3 Basic information
    = render :partial => "form"
  - unless request.xhr?
    .span5
      .page-header
        %h3 Players
      = render 'players_list', :edit => true

- if request.xhr?
  #players-modal.modal.hide.fade{ :tabindex => -1, :role => 'dialog', 'aria-labelledby' => 'players-modal-label', 'aria-hidden' => true }
    .modal-body
      = render 'players_list', :edit => true
    .modal-footer
      %button.btn{ 'data-dismiss' => 'modal', 'aria-hidden' => true } Close
