<div class="fb-like-box" data-href="http://www.facebook.com/pages/Kipscore/150146748477630" data-width="350" data-show-faces="true" data-colorscheme="dark" data-stream="false" data-border-color="#444" data-header="true"></div>
