.margin-top {
  margin-top: 10px;
}

.logo-hero {
  display: inline-block;
  width: 340px;
  height: 73px;
  background: transparent asset-data-url('logo.png') center no-repeat;
  background-size: 340px;
}

.logo-small {
  display: inline-block;
  width: 116px;
  height: 25px;
  background: transparent asset-data-url('logo_small.png') center no-repeat;
}

.loader16px, .loader32px, .loader64px {
  display: none;
  background: transparent center no-repeat;
}

.loader16px {
  background-image: asset-data-url('loader16px.gif');
  width:16px;
  height:16px;
}

.loader32px {
  background-image: asset-data-url('loader32px.gif');
  width:32px;
  height:32px;
}

.loader64px {
  background-image: asset-data-url('loader64px.gif');
  width:64px;
  height:64px;
}

input.ui-autocomplete-loading {
  background: transparent asset-data-url('loader16px.gif') 97% center no-repeat;
}

.datepicker table {
  color: #333;
}
