.round-robin-wrapper {
  .round {
    width: 45%;
    margin: 40px 20px;
    float: left;
  }
  .versus {
    font-size: 20px;
    display: inline-block;
    a {
      padding: 0 5px;
      margin-top: 10px;
      margin-bottom: -5px;
      text-decoration: none !important;
    }
  }
  thead {
    font-weight: bold;
    font-size: 15px;
  }
  .scores-table {
    position: relative;
    height: 100%;
    display: inline-block;
    div {
      position: relative;
      height: 100%;
      text-align: center;
      width: 30px;
      display: inline-block;
      padding: 9px 4px;
      margin-top: -9px;
      margin-bottom: -9px;
      border-left: 1px solid #ccc;
      &:last-child {
        border-right: 1px solid #ccc;
      }
    }
  }
  .scores {
    width: 110px;
    padding-right: 0;
    white-space: nowrap;
    text-align: right;
  }
  .inputs {
    width: 60px;
    text-align: right;
    input {
      width: 15px;
      padding: 0px;
      height: 20px;
      border-radius: 0;
      margin: -5px inherit;
      display: none;
    }
  }
  .add_scores {
    display: none;
  }
  .round-robin-match:hover, .round-robin-match.active {
    .inputs {
      input { display: inline-block; }
    }
    .add_scores {
      display: inline-block;
    }
  }
}

#round-robin-modal {
  color: #333;
}
