// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home-teaser {
  &.hero-unit {
    text-align: center;
  }
  p, ol {
    font-size: 1.1em;
    margin: 20px;
  }
  
  h2 {
    font-size: 21px;
    line-height: 20px;
  }
}

#home-signup {
}

#footer-bar {
  li > a {
    background: transparent no-repeat center top;
    background-size: auto 45px;
    &.innovation {
      background-image: asset-data-url("icons/innovation.png");
      &.active, &:hover {
        background-image: asset-data-url("icons/innovation_neg.png");
      }
    }
    &.about-us {
      background-image: asset-data-url("icons/about.png");
      &.active, &:hover {
        background-image: asset-data-url("icons/about_neg.png");
      }
    }
    &.instruction {
      background-image: asset-data-url("icons/instruction.png");
      &.active, &:hover {
        background-image: asset-data-url("icons/instruction_neg.png");
      }
    }
    &.contact {
      background-image: asset-data-url("icons/contact.png");
      &.active, &:hover {
        background-image: asset-data-url("icons/contact_neg.png");
      }
    }
    &.tournaments {
      background-image: asset-data-url("icons/tournaments.png");
      &.active, &:hover {
        background-image: asset-data-url("icons/tournaments_neg.png");
      }
    }
  }
}

#contact-form {
  input, textarea, select {
    margin-bottom: 5px;
  }
  textarea {
    width: 100%;
    box-sizing: border-box;
  }
  
  input[type=text] {
    width: 60%;
  }
}

