// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home-teaser {
  &.hero-unit {
    text-align: center;
  }
  p, ol {
    font-size: 1.1em;
    margin: 20px;
  }
  
  h2 {
    font-size: 21px;
    line-height: 20px;
  }
}

#beta-info {
  line-height: 20px;
  p {
    margin: 0 auto;
  }
}

#home-signup {
}

#user-sections {
  margin-top: 90px;
  h1 {
    text-align: center;
    padding-right: 70px;
    position: relative;
    bottom: 30px;
  }
  a {
    margin: auto;
    background: transparent no-repeat center top;
    background-size: auto 75px;
    min-width: 140px;
    padding-top: 80px;
    margin: 0 10px;
    text-align: center;
    font-size: 1.3em;
    color: white;
    font-weight: bold;
    display: inline-block;
    &:hover {
      text-decoration: none;
    }
    &.observer {
      background-image: asset-data-url('icons/observer.png');
      &:hover {
        background-image: asset-data-url('icons/observer_neg.png');
      }
    }
    &.organizer {
      background-image: asset-data-url('icons/organizer.png');
      &:hover {
        background-image: asset-data-url('icons/organizer_neg.png');
      }
    }
    &.player {
      background-image: asset-data-url('icons/player.png');
      &:hover {
        background-image: asset-data-url('icons/player_neg.png');
      }
    }
  }
}

#footer-bar {
  li > a {
    background: transparent no-repeat center top;
    background-size: auto 45px;
    min-width: 60px;
    
    &.observer {
      background-image: asset-data-url("icons/observer_g.png");
      &.active, &:hover {
        background-image: asset-data-url("icons/observer_g_neg.png");
      }
    }
    
    &.player {
      background-image: asset-data-url("icons/player_g.png");
      &.active, &:hover {
        background-image: asset-data-url("icons/player_g_neg.png");
      }
    }
    
    &.organizer {
      background-image: asset-data-url("icons/organizer_g.png");
      &.active, &:hover {
        background-image: asset-data-url("icons/organizer_g_neg.png");
      }
    }
    
    &.innovation {
      background-image: asset-data-url("icons/innovation.png");
      &.active, &:hover {
        background-image: asset-data-url("icons/innovation_neg.png");
      }
    }
    &.about-us {
      background-image: asset-data-url("icons/about.png");
      &.active, &:hover {
        background-image: asset-data-url("icons/about_neg.png");
      }
    }
    &.instruction {
      background-image: asset-data-url("icons/instruction.png");
      &.active, &:hover {
        background-image: asset-data-url("icons/instruction_neg.png");
      }
    }
    &.contact {
      background-size: auto 35px;
      background-image: asset-data-url("icons/contact.png");
      &.active, &:hover {
        background-image: asset-data-url("icons/contact_neg.png");
      }
    }
    &.tournaments {
      background-image: asset-data-url("icons/tournaments.png");
      &.active, &:hover {
        background-image: asset-data-url("icons/tournaments_neg.png");
      }
    }
  }
}

#contact-form {
  input, textarea, select {
    margin-bottom: 5px;
  }
  textarea {
    width: 100%;
    box-sizing: border-box;
  }
  
  input[type=text] {
    width: 60%;
  }
}

.facebook-icon, .twitter-icon {
  height: 40px;
  width: 40px;
  display: inline-block;
  background: transparent no-repeat center bottom;
}

.facebook-icon {
  background-size: auto 40px;
  background-image: asset-data-url('icons/facebook.png');
  &:hover {
    background-image: asset-data-url('icons/facebook_neg.png');
  }
}

.twitter-icon {
  background-size: auto 25px;
  background-image: asset-data-url('icons/twitter.png');
  &:hover {
    background-image: asset-data-url('icons/twitter_neg.png');
  }
}
