// Place all the styles related to the tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tournament-part {
  position: relative;
  #loader {
    position: absolute;
    left: 45%;
    top: 150px;
  }
}

#tournament-management {
  .control-label {
    width: 100px;
  }
  .form-actions {
    border: 0;
    background: transparent;
    padding-left: 120px;
  }
  .controls {
    margin-left: 120px;
  }
}

select.datetime {
  width: 80px;
}

.tournament-bracket {
  .column {
    display: inline;
    float: left;
    width: 200px;
  }
  
  .match {
    margin-bottom: 15px;
    padding: 5px;
    border: 1px dashed #eee;
    width: 150px;
  }
}
