// Place all the styles related to the tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tournament-part {
  position: relative;
  #loader {
    position: absolute;
    left: 45%;
    top: 150px;
  }
}

#tournament-management {
  label.checkbox {
    position: relative;
    top: 5px;
  }
  .control-label {
    width: 100px;
  }
  .form-actions {
    border: 0;
    background: transparent;
    padding-left: 120px;
  }
  .controls {
    margin-left: 120px;
  }
  .form-checkboxes {
    margin-left: 120px;
    .controls {
      margin-left: 10px;
      float: left;
      margin-right: 20px;
    }
    .control-label {
      width: auto;
    }
  }
  .tournament-form {
    &.none {
      display: none;
    }
  }
}

#players-table {
  input {
    margin-bottom: 0;
  }
  
  .rank {
    width: 40px;
  }
  
  tr.unconfirmed {
    opacity: 0.5;
  }
}

.btn-modal {
  margin-right: 4px;
}

#players-modal {
  color: #333 !important;
}

#tournament-part {
  #tournament-players {
    max-height: 200px;
    overflow: auto;
  }
}


// Form part
select.datetime {
  width: 80px;
}

textarea {
  height: 100px;
  width: 90%;
}
// End form part

// Show tournament part
p.tournament-description {
  &::first-line {
    font-weight: bold;
    font-size: 1.1em;
  }
}
// End show tournament part

// Bracket part
$playerHeight: 22px;
$playerPadding: 3px;
$totalPlayerHeight: $playerHeight + $playerPadding*2;

$baseMatchMargin: 20px;
$baseMatchPadding: 0;
$baseMatchBorder: 1px;
$baseMatchHeight: $totalPlayerHeight*2;
$baseMatchWidth: 200px;
$totalMatchHeight: $baseMatchHeight + $baseMatchBorder*2 + $baseMatchPadding*2;
$column1MatchMargin: $baseMatchMargin*2 + $totalMatchHeight/2 - 1;
$column2MatchMargin: $column1MatchMargin*2 + $totalMatchHeight/2 - 1;
$column3MatchMargin: $column2MatchMargin*2 + $totalMatchHeight/2 - 1;
$column4MatchMargin: $column3MatchMargin*2 + $totalMatchHeight/2 - 1;
$column5MatchMargin: $column4MatchMargin*2 + $totalMatchHeight/2 - 1;
$column6MatchMargin: $column5MatchMargin*2 + $totalMatchHeight/2 - 1;
$column7MatchMargin: $column6MatchMargin*2 + $totalMatchHeight/2 - 1;

$columnWidth: $baseMatchWidth + 30;
$columnMarginRight: 5px;
$totalColumnWidth: $columnWidth + $columnMarginRight;

#tournament-container {
  .empty {
    div {
      display: none;
    }
  }
}


.tournament-bracket-wrapper {
  overflow-x: auto;
  padding-bottom: 0;
  position: relative;
  &.empty {
    display: none;
  }
}

.tournament-title {
  margin-bottom: -10px;
  margin-left: 10px;
  font-size: 1.5em;
  position: relative;
  bottom: 20px;
}

.scroll-top, .tournament-bracket {
  &.columns7 { width: 7*$totalColumnWidth; }
  &.columns6 { width: 6*$totalColumnWidth; }
  &.columns5 { width: 5*$totalColumnWidth; }
  &.columns4 { width: 4*$totalColumnWidth; }
  &.columns3 { width: 3*$totalColumnWidth; }
  &.columns2 { width: 2*$totalColumnWidth; }
  &.columns1 { width: 1*$totalColumnWidth; }
}

.scroll-top-wrapper {
  height: 20px;
  overflow-x: auto;
  position: relative;
  top: 40px;
  z-index: 500;
  .scroll-top {
    padding: 0 10px;
    height: 1px;
  }
  &.empty {
    display: none;
  }
}

.tournament-bracket {
  background-color: rgba(255,255,255,0.2);
  padding: 10px;
  min-width: 98%;

  .scroll-top {
    height: 20px;
  }  

  .round-title {
    margin-top: 0;
    font-size: 1.2em;
    margin-left: 45px;
    margin-bottom: -$baseMatchMargin+10;
  }
  
  .proceed-button {
    position: absolute;
    right: -6px;
    top: 0;
    bottom:0;
    padding: 0 3px;
    background: rgba(255,255,255,0.6);
    a {
      display: inline-block;
      height: 100%;
      padding-top: $totalMatchHeight/2 - 10px;
      position: relative;
	    font-weight: bold;
	    color: #666;
	    text-decoration: none;
    }
    display: none;
  }
  
  
  .player {
    height: $playerHeight;
    padding: $playerPadding;
    width: 100%;
    position: relative;
  }
  
  .match {
    margin: $baseMatchMargin 0;
    padding: $baseMatchPadding;
    width: $baseMatchWidth;
    height: $baseMatchHeight;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    .scores {
      position: absolute;
      height: 100%;
      right: -5px;
      top: 0;
      .new {
        position: relative;
        height: 20px;
        top: $totalMatchHeight/2 - 10px;
        font-size: 1.3em;
        color: #777;
        text-decoration: none;
        display: none;
      }
        
      input {
        width: 15px;
        padding: 0px;
        height: 20px;
        border-radius: 0;
        margin: 0;
        display: none;
      }
      
      table {
        display: table !important;
        height: 100%;
        float: left;
        position: relative;
        td {
          padding: 3px 1px;
          border-left: 2px solid #9bc44b;
          text-align: center;
          background: #ddd;
        }
        
        td:last-child {
          border: 0;
        }
        
        tr:nth-child(even) {
          color: #333;
        }
        
        tr:nth-child(odd) {
          color: #fff;
          td {
            background: #9bc44b;
            border-color: #ddd;
          }
        }
        
      } 
    }
  }
  .match.active,
  .match:hover {
    .proceed-button {
      display: block;
    }
    .new {
      display: inline;
    }
    input {
      display: inline;
    }
    .scores {
      right: 10px;
    }
  }
  
  .finished:hover {
    .scores {
      right: -5px;
    }
  }
  
  div[class^="column"] {
    display: inline-block;
    float: left;
    width: $columnWidth;
    margin-right: $columnMarginRight;
  }
  
  .column1 {
    .match {
      margin: $column1MatchMargin 0;
    }
  }
  
  .column2 {
    .match {
      margin: $column2MatchMargin 0;
    }
  }
  
  .column3 {
    .match {
      margin: $column3MatchMargin 0;
    }
  }
  
  .column4 {
    .match {
      margin: $column4MatchMargin 0;
    }
  }
  
  .column5 {
    .match {
      margin: $column5MatchMargin 0;
    }
  }
  
  .column6 {
    .match {
      margin: $column6MatchMargin 0;
    }
  }
  
  .column7 {
    .match {
      margin: $column7MatchMargin 0;
    }
  }
}
