// Place all the styles related to the tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tournament-part {
  position: relative;
  #loader {
    position: absolute;
    left: 45%;
    top: 150px;
  }
}

#tournament-management {
  label.checkbox {
    position: relative;
    top: 5px;
  }
  .control-label {
    width: 100px;
  }
  .form-actions {
    border: 0;
    background: transparent;
    padding-left: 120px;
  }
  .controls {
    margin-left: 120px;
  }
  .form-checkboxes {
    margin-left: 120px;
    .controls {
      margin-left: 10px;
      float: left;
      margin-right: 20px;
    }
    .control-label {
      width: auto;
    }
  }
  .tournament-form {
    &.none {
      display: none;
    }
  }
}

#players-table {
  input {
    margin-bottom: 0;
  }
  
  .rank {
    width: 40px;
  }
  
  tr.unconfirmed {
    opacity: 0.5;
  }
}

.btn-modal {
  margin-right: 4px;
}

#players-modal, #bracket-modal {
  color: #333 !important;
}

#players-modal {
  width: 850px;
  margin-left: -425px;
}

#join-modal {
  background-color: #333;
  color: #fff;
  .modal-header {
    background-color: #555;
  }
  .modal-footer {
    background-color: #555;
    box-shadow: none;
  }
}

#bracket-modal {
  ol li:nth-child(even) {
    margin-bottom: 10px;
  }
  .player {
    cursor: pointer; 
  }
  margin: 0;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  width: auto;
  .modal-body {
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
    max-height: inherit;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 60px;
    left: 0;
    right: 0;
    ol, ul {
      max-height: 90%;
    }
  }
  .modal-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    max-height: 40px;
  }
}

#tournament-part {
  #tournament-players {
    max-height: 200px;
    overflow: auto;
  }
}


// Form part
select.datetime {
  width: 80px;
}

textarea {
  height: 100px;
  width: 90%;
}
// End form part

// Show tournament part
p.tournament-description {
  &::first-line {
    font-weight: bold;
    font-size: 1.1em;
  }
}
// End show tournament part

// Bracket part
table.results {
  margin-top: 20px;
  width: 60%;
  margin: 20px auto 0;
}


$playerHeight: 25px;
$playerPadding: 6px;
$totalPlayerHeight: $playerHeight + $playerPadding*2;

$baseMatchMargin: 20px;
$baseMatchPadding: 0;
$baseMatchBorder: 1px;
$baseMatchHeight: $totalPlayerHeight*2;
$baseMatchWidth: 250px;
$totalMatchHeight: $baseMatchHeight + $baseMatchBorder*2 + $baseMatchPadding*2;
$column1MatchMargin: $baseMatchMargin*2 + $totalMatchHeight/2 - 1;
$column2MatchMargin: $column1MatchMargin*2 + $totalMatchHeight/2 - 1;
$column3MatchMargin: $column2MatchMargin*2 + $totalMatchHeight/2 - 1;
$column4MatchMargin: $column3MatchMargin*2 + $totalMatchHeight/2 - 1;
$column5MatchMargin: $column4MatchMargin*2 + $totalMatchHeight/2 - 1;
$column6MatchMargin: $column5MatchMargin*2 + $totalMatchHeight/2 - 1;
$column7MatchMargin: $column6MatchMargin*2 + $totalMatchHeight/2 - 1;

$columnWidth: $baseMatchWidth + 30;
$columnMarginRight: 5px;
$totalColumnWidth: $columnWidth + $columnMarginRight;

#tournament-container {
//  .empty {
//    div {
//      display: none;
//    }
//  }
}


.tournament-bracket-wrapper {
  background-color: rgba(255,255,255,0.2);
  overflow-x: auto;
  padding-bottom: 0;
  position: relative;
  &.empty {
    display: none;
  }
}

.tournament-title {
  
  margin-bottom: -10px;
  margin-left: 10px;
  font-size: 1.4em;
  position: relative;
  bottom: 17px;
}

.scroll-top, .tournament-bracket {
  &.columns7 { width: 7*$totalColumnWidth; }
  &.columns6 { width: 6*$totalColumnWidth; }
  &.columns5 { width: 5*$totalColumnWidth; }
  &.columns4 { width: 4*$totalColumnWidth; }
  &.columns3 { width: 3*$totalColumnWidth; }
  &.columns2 { width: 2*$totalColumnWidth; }
  &.columns1 { width: 1*$totalColumnWidth; }
}

.scroll-top-wrapper {
  height: 20px;
  overflow-x: auto;
  position: relative;
  top: 40px;
  z-index: 500;
  .scroll-top {
    padding: 0 10px;
    height: 1px;
  }
  &.empty {
    display: none;
  }
}

.tournament-bracket {
  padding: 10px;
  float: right;
  
  .scroll-top {
    height: 20px;
  }  

  .round-title {
    margin-top: 0;
    font-size: 1.2em;
    margin-left: 45px;
    margin-bottom: -$baseMatchMargin+10;
  }
  
  .proceed-button {
    position: absolute;
    right: -12px;
    top: 0;
    bottom:0;
    padding: 0 3px;
    background: rgba(255,255,255,0.6);
    a {
      display: inline-block;
      height: 100%;
      padding-top: $totalMatchHeight/2 - 10px;
      position: relative;
	    font-weight: bold;
	    color: #666;
	    padding-right: 4px;
	    padding-left: 4px;
	    text-decoration: none;
    }
    display: none;
  }
  
  .undo-links {
    position: absolute;
    top: 2px;
    left: -10px;
    width: 10px;
    a {
      display: inline-block;
      height: $totalPlayerHeight;
      &:hover {
        text-decoration: none;
      }
      width: 10px;
    }
    display: none;
  }
  
  
  .player {
    &.winner {
      font-weight: bold;
    }
    .icon-star {
      color: gold;
    }
    .position {
      font-weight: bold;
      font-color: #fff;
    }
    height: $playerHeight;
    padding: $playerPadding;
    width: 100%;
    position: relative;
  }
  
  .match {
    margin: $baseMatchMargin 0;
    padding: $baseMatchPadding;
    width: $baseMatchWidth;
    height: $baseMatchHeight;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    .lines {
      display: block;
      position: absolute;
      top: $totalPlayerHeight;
      width: 12px;
      right: -24px;
      height: ($baseMatchMargin*2 + $totalPlayerHeight*2) - 2;
      border: 2px solid;
      border-left: 0;
    }
    .lines-connector {
      display: block;
      position: absolute;
      left: -12px;
      top: $totalPlayerHeight;
      border-top: 2px solid #fff;
      width: 12px;
    }
    &:nth-child(odd) .lines {
      display: none;
    }
    .scores {
      position: absolute;
      height: 100%;
      right: -11px;
      top: 0;
      .new {
        position: relative;
        height: 20px;
        top: $totalMatchHeight/2 - 10px;
        font-size: 1.3em;
        color: #777;
        text-decoration: none;
        display: none;
      }
        
      input {
        width: 15px;
        padding: 0px;
        height: 20px;
        border-radius: 0;
        margin: 0;
        display: none;
      }
      
      table {
        font-size: 12px;
        display: table !important;
        height: 100%;
        float: left;
        position: relative;
        td {
          padding: 3px 1px;
          border-left: 2px solid #9bc44b;
          text-align: center;
          background: #ddd;
        }
        
        td:last-child {
          border: 0;
        }
        
        tr:nth-child(even) {
          color: #333;
        }
        
        tr:nth-child(odd) {
          color: #333;
          td {
            background: #9bc44b;
            border-color: #ddd;
          }
        }
        
      } 
    }
  }
  .match.active,
  .match:hover {
    .proceed-button {
      display: block;
    }
    .undo-links {
      display: block;
    }
    .new {
      display: inline;
    }
    input {
      display: inline;
    }
    .scores {
      right: 10px;
    }
  }
  
  .finished:hover {
    .scores {
      right: -11px;
    }
  }
  
  div[class^="column"] {
    display: inline-block;
    float: left;
    width: $columnWidth;
    margin-right: $columnMarginRight;
  }
  
  .column1 {
    .match {
      margin: $column1MatchMargin 0;
      .lines { height: ($column1MatchMargin*2 + $totalPlayerHeight*2) - 2; }
    }
  }
  
  .column2 {
    .match {
      margin: $column2MatchMargin 0;
      .lines { height: ($column2MatchMargin*2 + $totalPlayerHeight*2) - 2; }
    }
  }
  
  .column3 {
    .match {
      margin: $column3MatchMargin 0;
      .lines { height: ($column3MatchMargin*2 + $totalPlayerHeight*2) - 2; }
    }
  }
  
  .column4 {
    .match {
      margin: $column4MatchMargin 0;
      .lines { height: ($column4MatchMargin*2 + $totalPlayerHeight*2) - 2; }
    }
  }
  
  .column5 {
    .match {
      margin: $column5MatchMargin 0;
      .lines { height: ($column5MatchMargin*2 + $totalPlayerHeight*2) - 2; }
    }
  }
  
  .column6 {
    .match {
      margin: $column6MatchMargin 0;
      .lines { height: ($column6MatchMargin*2 + $totalPlayerHeight*2) - 2; }
    }
  }
  
  .column7 {
    .match {
      margin: $column7MatchMargin 0;
      .lines { height: ($column7MatchMargin*2 + $totalPlayerHeight*2) - 2; }
    }
  }
}
